<tr id="<%= spree_dom_id product %>">
  <% line_id = (defined? skp )? skp : rand(500..500000) %>
  <% if product %>
    <td class="handle move-handle"><span class="icon icon-move handle"></span></td>
    <td>
      <% if defined? skp %>
          <%= hidden_field_tag "kit[spree_kits_products_attributes][#{line_id}][id]", skp.id %>

    <% end %>
      <%= hidden_field_tag "kit[spree_kits_products_attributes][#{line_id}][spree_product_id]", product.id %>
      <%= hidden_field_tag "kit[spree_kits_products_attributes][#{line_id}][_destroy]", "false", data:{hook: "deleter"} %>

      <%= product.product_code %>
    </td>
    <td>
      <%= product.name %>
    </td>
    <td>
      <% if (defined?(skp) && skp)  %>
        <%= image_tag skp.kit.image_for( skp.product, :product) %>
      <% end %>
    </td>
  <% end %>
  <td class="actions actions-2 text-right">
    <%= link_to_with_icon 'delete', "", "#remove_line", class: "btn btn-danger btn-sm deete-resource", data: { confirm: Spree.t(:are_you_sure) } %>
  </td>
</tr>