<% content_for :page_title do %>
    <%= Spree.t(:kits) %>
<% end %>

<% content_for :page_actions do %>
    <span id="new_ot_link">
      <%= button_link_to Spree.t(:new_kit), spree.new_admin_kit_path, { :icon => 'SS', :id => 'admin_new_kit', :class => 'btn-success' } %>
    </span>
<% end %>


<% if @kits.any? %>

    <table class="table sortable" id="listing-store-locations data-hook">
      <thead>
      <tr data-hook="option_header">
        <th><%= Spree.t(:kit) %></th>
        <th class="actions"></th>
      </tr>
      </thead>
      <tbody>
      <% @kits.each do |kit| %>
          <tr id="<%= spree_dom_id kit %>">
            <td class="presentation"><%= kit.name %></td>
            <td class="actions actions-2 text-right">
              <%= link_to_edit(kit.id, class: 'admin_edit_option_type', no_text: true) %>
              <%= link_to_delete(kit, no_text: true) %>
              <%= link_to_with_icon('link', nil, show_single_kit_path(kit), :no_text => true, :class => 'btn btn-default btn-sm', target: '_blank') %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

<% else %>
    <div class="alert alert-info no-objects-found">
      <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::SizingChart)) %>,
      <%= link_to Spree.t(:add_one), new_admin_kit_path %>!
    </div>
<% end %>


